<div class="blocBlancBoutique">

    <div class="container">

        <div class="row row-cols-1 row-cols-md-5">

            <!---------------------------------CARDS BOISSONS-------------------------------->

            <div class="col d-flex justify-content-center">
                <div class="card card-drink-green d-flex m-2">
                    <h3 class="card-header card-drink test text-center">BOISSONS</h3>
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ asset('/build/images/Categories-Produits/Boisson.jpg') }}" class="img-fluid" alt="Catégorie Boisson"/>
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Nos boissons régionales</h5>
                        <p class="card-text">Nous vous proposons un large choix de boissons alcoolisées ou non</p>
                        <a href="#" class="btn btn-success m-1">Bières</a>
                        <a href="#" class="btn btn-success m-1">Vin</a>
                        <a href="#" class="btn btn-success m-1">Whisky</a>
                        <a href="#" class="btn btn-success m-1">Sirop</a>
                    </div>
                </div>
            </div>

            <!-----------------------------------CARDS SEL------------------------------            -->

            <div class="col d-flex justify-content-center">
                <div class="card card-sel-red d-flex m-2">
                    <h3 class="card-header card-sel test text-center">SEL</h3>
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ asset('/build/images/Categories-Produits/Sale.jpg') }}" class="img-fluid" alt="Catégorie Produit"/>
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Salés</h5>
                        <p class="card-text">Une de nos nombreuses spécialité de la région sont les produits carnés.</p>
                        <a href="#" class="btn btn-danger m-1">Charcuterie</a>
                        <a href="#" class="btn btn-danger m-1">Fromages</a>
                    </div>
                </div>
            </div>

            <!-----------------------------------CARDS SUCRE------------------------------            -->


            <div class="col d-flex justify-content-center">
                <div class="card card-sucre-yellow d-flex m-2">
                    <h3 class="card-header card-sucre test text-center">SUCRE</h3>
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ asset('/build/images/Categories-Produits/Sucres.jpg') }}" class="img-fluid" alt="Catégorie Sucre"/>
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Sucrés</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-warning m-1">Gateaux Secs</a>
                        <a href="#" class="btn btn-warning m-1">Bonbons</a>
                    </div>
                </div>
            </div>


            <!--        <div class="row row-cols-1 row-cols-md-5">   </div>-->

            <!-------------------------------------CARDS HYGIENE-------------------------------->

            <div class="col d-flex justify-content-center">
                <div class="card card-hygiene-blue d-flex m-2">
                    <h3 class="card-header card-hygiene test text-center">HYGIENE</h3>
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ asset('/build/images/Categories-Produits/HygieneBeaute.jpeg') }}" class="img-fluid" alt="Catégorie Hygiène et Beauté"/>
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hygiène</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-info m-1">Savons</a>
                        <a href="#" class="btn btn-info m-1">Matériels</a>
                        <a href="#" class="btn btn-info m-1">Cosmetiques</a>
                    </div>
                </div>
            </div>

            <!-------------------------------------CARDS AUTRES-------------------------------->

            <div class="col d-flex justify-content-center">
                <div class="card card-other-orange d-flex m-2">
                    <h3 class="card-header card-other text-center">AUTRES</h3>
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ asset('/build/images/Categories-Produits/Autres.jpg') }}" class="img-fluid" alt="Catégorie Autres"/>
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Jouets et Autres</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary m-1">Visiter</a>
                        <a href="#" class="btn btn-primary m-1">Bières</a>
                        <a href="#" class="btn btn-primary m-1">Vin</a>
                        <a href="#" class="btn btn-primary m-1">Whisky</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>