

            <!---------------------------------CARDS BOISSONS-------------------------------->

                <div class="card card-drink-green d-flex m-3">

                    <h3 class="card-header card-drink test text-center"
                        style="background-color:{{ category.color }};">
                        {{ category.name }}</h3>

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ asset('/build/images/Categories-Produits/Boisson.jpg') }}" class="img-fluid"
                             alt="Catégorie Boisson"/>
                        <a href="#">
                            <div class="mask" style="background-color: {{ category.color }};"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Nos boissons régionales</h5>
                        <p class="card-text">{{ category.description }}</p>
                        <a href="#" class="btn btn-success m-1" style="background-color:{{ category.color }}; border-color:{{ category.color }};">Bières</a>
                        <a href="#" class="btn btn-success m-1" style="background-color:{{ category.color }};border-color:{{ category.color }};">Vin</a>
                        <a href="#" class="btn btn-success m-1" style="background-color:{{ category.color }};border-color:{{ category.color }};">Whisky</a>
                        <a href="#" class="btn btn-success m-1" style="background-color:{{ category.color }};border-color:{{ category.color }};">Sirop</a>
                    </div>

                </div>

{#        <tr>#}
{#            <td>{{ category.id }}</td>#}
{#            <td>{{ category.name }}</td>#}
{#            <td>{{ category.description }}</td>#}
{#            <td>{{ category.img }}</td>#}
{#            <td>{{ category.color }}</td>#}
{#        </tr>#}

