<div class="ombreBandeauBlanc">

        <nav class="menuHeader">

            <ul class="menuUl">

                <li class="menuLi">
                    <i class="fa-solid fa-house"></i>
                    <a class="menuA" href='{{ path('app_home') }}'>Accueil</a>
                    <div class="navItem"></div>
                </li>

                <li class="menuLi">
                    <i class="fa-solid fa-calendar-days"></i>
                    <a class="menuA" href='{{ path('app_reservation') }}'>Reservation</a>
                    <i class="fa-solid fa-angle-down"></i>
                    <div class="navItem"></div>
                    <div class="dd">
                        <a class="dropA" href='#'></a>
                        <a class="dropA" href='#'>Chambre seule</a>
                        <a class="dropA" href='#'>Gite Equestre</a>
                        <a class="dropA" href='#'>Gite Enduro</a>
                    </div>
                </li>

                <li class="menuLi">
                    <img src="{{ asset('/build/images/Header-Images/LOGO-Gite-Les-Bruyeres.png') }}" alt="logoGiteLesBruyeres"
                         class="logoHeaderNoir"/>
                </li>

                <li class="menuLi">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <a class="menuA" href='{{ path('app_boutique_index') }}'>Boutique</a>
                    <i class="fa-solid fa-angle-down"></i>
                    <div class="navItem"></div>
                </li>

                <li class="menuLi">
                    <i class="fa-solid fa-phone-flip"></i>
                    <a class="menuA" href='{{ path('app_contact') }}'>Contact</a>
                    <div class="navItem"></div>
                </li>

            </ul>
        </nav>

    </div>


    <!--RESPONSIVE ET MENU BURGER-->

    <!--------------------------------MENU BURGER-------------------------------------->

    <div id="menu">
        <div id="menu-bar" onclick="menuOnClick()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>

        <nav class="navMenuburger" id="nav">
            <ul class="ulMenuBurger">
                <li class="liBG"><a href="#" class="texteMenuBG"><i class="fa-solid fa-house"></i> Accueil</a></li>
                <li class="liBG"><a href="#" class="texteMenuBG"><i class="fa-solid fa-calendar-days"></i>
                        Reservation</a>
                </li>
                <li class="liBG"><a href="#" class="texteMenuBG"><i class="fa-solid fa-basket-shopping"></i>
                        Boutique</a>
                </li>
                <li class="liBG"><a href="#" class="texteMenuBG"><i class="fa-solid fa-phone-flip"></i> Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="menu-bg" id="menu-bg"></div>


    <!--------------------------------LOGO RESPONSIVE--------------------------------->

    <div class="placementLogoResponsive">
        <img src="{{ asset('/build/images/Header-Images/LOGO-Gite-Les-Bruyeres.png') }}" alt="logoGiteLesBruyeres"
             class="responsiveLogoHeaderNoir"/>
    </div>


    <!--------------------------------PANIER RESPONSIVE--------------------------------->

    <div class="placementPanierResponsive">
        <div class="panierFondBlanc"></div>
    </div>
