{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block main %}


    {% include('partials/_calendar.html.twig') %}

    {{ dump(bookings) }}

    <h1>Booking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>All_day</th>
                <th>Background_color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.title }}</td>
                <td>{{ booking.start ? booking.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.end ? booking.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.description }}</td>
                <td>{{ booking.allDay ? 'Yes' : 'No' }}</td>
                <td>{{ booking.backgroundColor }}</td>
                <td>
                    <a href="{{ path('app_booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    {{data|raw}}#}
    <a href="{{ path('app_booking_new') }}">Create new</a>

{% endblock %}

