{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block main %}
    {% include('partials/_sliderProducts.html.twig') %}
    {% include('partials/_login.html.twig') %}

    <div class="ombreFondTexteEtImages">
        <div class="fondTexteEtImage">
            <h2 class="titreSite">Un large choix de produit pour vous</h2>
            <h5 class="signatureSite">
                Ici c'est tout ce qu'il y a de mieux fabriqué en Livradois-Forez
            </h5>
        </div>
    </div>

    <div class="blocBlancBoutique">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-6 g-5">
                {% for category in categories %}
                    {% include('partials/_cards.html.twig') %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}


{# {% extends 'base.html.twig' %} #}

{# {% block title %}Category index{% endblock %} #}

{# {% block body %} #}
{#    <h1>Category index</h1> #}

{#    <table class="table"> #}
{#        <thead> #}
{#            <tr> #}
{#                <th>Id</th> #}
{#                <th>Name</th> #}
{#                <th>Description</th> #}
{#                <th>Img</th> #}
{#                <th>Color</th> #}
{#                <th>actions</th> #}
{#            </tr> #}
{#        </thead> #}
{#        <tbody> #}
{#        {% for category in categories %} #}
{#            <tr> #}
{#                <td>{{ category.id }}</td> #}
{#                <td>{{ category.name }}</td> #}
{#                <td>{{ category.description }}</td> #}
{#                <td>{{ category.img }}</td> #}
{#                <td>{{ category.color }}</td> #}
{#                <td> #}
{#                    <a href="{{ path('app_boutique_show', {'id': category.id}) }}">show</a> #}
{#                    <a href="{{ path('app_boutique_edit', {'id': category.id}) }}">edit</a> #}
{#                </td> #}
{#            </tr> #}
{#        {% else %} #}
{#            <tr> #}
{#                <td colspan="6">no records found</td> #}
{#            </tr> #}
{#        {% endfor %} #}
{#        </tbody> #}
{#    </table> #}

{#    <a href="{{ path('app_boutique_new') }}">Create new</a> #}
{# {% endblock %} #}
