{% extends 'base.html.twig' %}

{% block title %}SousCategory index{% endblock %}

{% block body %}
    <h1>SousCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_category in sous_categories %}
            <tr>
                <td>{{ sous_category.id }}</td>
                <td>{{ sous_category.name }}</td>
                <td>{{ sous_category.description }}</td>
                <td>
                    <a href="{{ path('app_sous_category_show', {'id': sous_category.id}) }}">show</a>
                    <a href="{{ path('app_sous_category_edit', {'id': sous_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sous_category_new') }}">Create new</a>
{% endblock %}
